<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="uza - Model Agency HTML5 Template">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Smart Identification</title>

    <!-- Favicon -->
    <link rel="icon" href="../static/img/core-img/creation.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="../static/style.css">

</head>

<body>
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area">
        <!-- Main Header Start -->
        <div class="main-header-area">
            <div class="classy-nav-container breakpoint-off">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="uzaNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="/"><img style="width:65px;height:auto" src="../static/img/core-img/creation.png" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">
                        <!-- Menu Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li class="current-item"><a href="/">Home</a></li>
                                <li><a href="/about">About</a></li>
                                <li><a href="/testing">Testing</a></li>
                            </ul>

                            <!-- Get A Quote -->
                            <!-- <div class="get-a-quote ml-4 mr-3">
                                <a href="/testing" class="btn uza-btn">Generate</a>
                            </div> -->
                        </div>
                        <!-- Nav End -->

                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Welcome Area Start ***** -->
    <section class="welcome-area">
        <div class="welcome-slides owl-carousel">

            <!-- Single Welcome Slide -->
            <div class="single-welcome-slide">
                <!-- Background Curve -->
                <div class="background-curve">
                    <img src="../static/img/core-img/curve-1.png" alt="">
                </div>

                <!-- Welcome Content -->
                <div class="welcome-content h-100">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <!-- Welcome Text -->
                            <div class="col-12 col-md-6">
                                <div class="welcome-text">
                                    <h2 data-animation="fadeInUp" data-delay="100ms">Identifikasi <br> Komponen <span>GUI</span></h2>
                                    <h5 data-animation="fadeInUp" data-delay="400ms">Kris Widyo Febyanti | 1641720006</h5>
                                    <a href="/testing" class="btn uza-btn btn-2" data-animation="fadeInUp" data-delay="700ms">Testing</a>
                                </div>
                            </div>
                            <!-- Welcome Thumbnail -->
                            <div class="col-12 col-md-6">
                                <div class="welcome-thumbnail">
                                    <img src="../static/img/bg-img/homesatu.svg" alt="" data-animation="slideInRight" data-delay="400ms">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Welcome Slide -->
            <div class="single-welcome-slide">
                <!-- Background Curve -->
                <div class="background-curve">
                    <img src="../static/img/core-img/curve-1.png" alt="">
                </div>

                <!-- Welcome Content -->
                <div class="welcome-content h-100">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <!-- Welcome Text -->
                            <div class="col-12 col-md-6">
                                <div class="welcome-text">
                                    <h2 data-animation="fadeInUp" data-delay="100ms">Identifikasi <br> Komponen <span>GUI</span></h2>
                                    <h5 data-animation="fadeInUp" data-delay="400ms">Kris Widyo Febyanti | 1641720006</h5>
                                    <a href="/testing" class="btn uza-btn btn-2" data-animation="fadeInUp" data-delay="700ms">Testing</a>
                                </div>
                            </div>
                            <!-- Welcome Thumbnail -->
                            <div class="col-12 col-md-6">
                                <div class="welcome-thumbnail">
                                    <img src="../static/img/bg-img/homedua.svg" alt="" data-animation="slideInRight" data-delay="400ms">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Welcome Slide -->
            <div class="single-welcome-slide">
                <!-- Background Curve -->
                <div class="background-curve">
                    <img src="../static/img/core-img/curve-1.png" alt="">
                </div>

                <!-- Welcome Content -->
                <div class="welcome-content h-100">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <!-- Welcome Text -->
                            <div class="col-12 col-md-6">
                                <div class="welcome-text">
                                    <h2 data-animation="fadeInUp" data-delay="100ms">Identifikasi <br> Komponen <span>GUI</span></h2>
                                    <h5 data-animation="fadeInUp" data-delay="400ms">Kris Widyo Febyanti | 1641720006</h5>
                                    <a href="/testing" class="btn uza-btn btn-2" data-animation="fadeInUp" data-delay="700ms">Testing</a>
                                </div>
                            </div>
                            <!-- Welcome Thumbnail -->
                            <div class="col-12 col-md-6">
                                <div class="welcome-thumbnail">
                                    <img src="../static/img/bg-img/hometiga.svg" alt="" data-animation="slideInRight" data-delay="400ms">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- ***** Welcome Area End ***** -->

    

    <!-- ***** Services Area Start ***** -->
    <section class="uza-services-area section-padding-80-0">
        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>Langkah - Langkah</h2>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Single Service Area -->
                <div class="col-12 col-lg-3">
                    <div class="single-service-area mb-80">
                        <!-- Service Icon -->
                        <div class="service-icon">
                            <!-- <i class="icon_cone_alt"></i> -->
                            <img style="width:60px; height: auto;" src="../static/img/core-img/citra.svg" alt="">
                        </div>
                        <h5>Siapkan Citra</h5>
                        <p>Siapkan citra yang akan di deteksi</p>
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-lg-3">
                    <div class="single-service-area mb-80">
                        <!-- Service Icon -->
                        <div class="service-icon">
                            <!-- <i class="icon_piechart"></i> -->
                            <img style="width:60px; height: auto;" src="../static/img/core-img/upload.svg" alt="">
                        </div>
                        <h5>Upload Citra</h5>
                        <p>Upload citra inputan</p>
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-lg-3">
                    <div class="single-service-area mb-80">
                        <!-- Service Icon -->
                        <div class="service-icon">
                            <!-- <i class="icon_easel"></i> -->
                            <img style="width:60px; height: auto;" src="../static/img/core-img/identifikasi.svg" alt="">
                        </div>
                        <h5>Identifikasi Citra</h5>
                        <p>Citra yang sudah di inputkan akan di identifikasi menggunakan metode ELM.</p>
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-lg-3">
                        <div class="single-service-area mb-80">
                            <!-- Service Icon -->
                            <div class="service-icon">
                                <!-- <i class="icon_easel"></i> -->
                                <img style="width:60px; height: auto;" src="../static/img/core-img/code.svg" alt="">
                            </div>
                            <h5>Hasil Identifikasi & Code</h5>
                            <p>Hasil pengolahan citra berupa identifikasi jenis GUI dan code xml.</p>
                        </div>
                    </div>

            </div>
        </div>
    </section>
    <!-- ***** Services Area End ***** -->


 
  
    <!-- ***** Footer Area Start ***** -->
    <footer class="footer-area section-padding-80-0">
        <div class="container">

            <div class="row" style="margin-bottom: 30px;">

                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>
                    document.write(new Date().getFullYear());
                </script> All rights reserved | Kris Widyo Febyanti | TI-4C | 1641720006 | Politeknik Negeri Malang
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>

        </div>
    </footer>
    <!-- ***** Footer Area End ***** -->

    <!-- ******* All JS Files ******* -->
    <!-- jQuery js -->
    <script src="../static/js/jquery.min.js"></script>
    <!-- Popper js -->
    <script src="../static/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- All js -->
    <script src="../static/js/uza.bundle.js"></script>
    <!-- Active js -->
    <script src="../static/js/default-assets/active.js"></script>

</body>

</html>